# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Data files - Ignore large CSVs
data/raw/*.csv
data/cleaned/*.csv
*.csv

# DVC - IMPORTANT: Do NOT ignore these lines
!.dvc/
!.dvc/config
!.dvc/.gitignore
!.dvc/cache

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db